@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');
/*  =====================
        Variables CSS      
    =====================*/
:root{
    --header-height: 3rem;
    --nav-width: 324px;
    
    
    /*      Font weight       */
    --font-medium:500;
    --font-semi-bold: 600;
    --font-bold: 700;

    /*      Colors      */
    --first-color: #237CE7;
    --first-color-dark: #1769CD;
    --first-color-darken: #114E99;
    --text-color: #070707;
    --first-color-light: #EFEFEF;
    --first-color-lighten: #FFFAFA;
    --dark-theme:#2A3241;

    /*      Font & typography       */
    --body-font: 'Poppins', sans-serif;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    /*      Margins     */
    --mb-1: .5rem;
    --mb-2: 1rem;
    --mb-3: 1.5rem;
    --mb-4: 2rem;
    --mb-5: 2.5rem;

    /*      z index     */
    --z-fixed: 100;
}
@media screen and (min-width: 768px){
    :root{
        --h1-font-size: 2.5rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }
}

/*  ===================
            BASE           
    ===================*/
*,::before,::after{
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    margin: var(--header-height) 0 0 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    background-color: var(--first-color-lighten);
    color: var(--text-color);
    line-height: 1.6;
}
h2,h2,h3,p{
    margin: 0;
}
h3{
    font-weight: var(--font-semi-bold);
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
a{
    text-decoration: none;
    color: var(--text-color);
}
img{
    max-width: 100%;
    height: auto;
    display: block;
}
/*      Class       */
.section{
    padding: 4rem 0 2rem;
}
.section-title{
    font-size: var(--h1-font-size);
    color: var(--first-color);
    margin-bottom: var(--mb-3);
    text-align: center;
}
.section-subtitle{
    display: block;
    font-size: var(--small-font-size);
    color: var(--first-color-darken);
    text-align: center;
    font-weight: var(--font-bold);
    margin-bottom: .25rem;
}
/*      LAYOUT      */
    .bd-grid{
        max-width: 1024px;
        display: grid;
        grid-template-columns: 100%;
        column-gap: 2rem;
        width: calc(100% - 2rem);
        margin-left: var(--mb-2);
        margin-right: var(--mb-2);
    }
    .l-header{
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: var(--z-fixed);
        background-color: var(--first-color-lighten);
        box-shadow: 0 2px 4px rgba(0,0,0,.1);
    }
/*      NAV     */
    .nav{
        height: 30px;
        display: flex;
        justify-content: space-between;
        text-align: center;
        margin-top: .3rem;
    }
    .nav-menu{
        position: fixed;
        top: 0;
        left: -100%;
        width: 90%;
        height: 100vh;
        padding: 3rem;
        display: flex;
        align-items: center;
        background-color: var(--first-color);
        transition: .5s;
    }
    .nav-close{
        position: absolute;
        top: 1rem;
        right: 1rem;
        font-size: 2rem;
        color: var(--first-color-dark);
        cursor: pointer;
    }
    .nav-close:hover{
        color: var(--first-color-light);
        transition: .5s;
    }
    .nav-item{
        margin-bottom: var(--mb-4);
    }
    .nav-link{
        font-size: 1rem;
        text-transform: uppercase;
        color: var(--first-color-lighten);
        font-weight: var(--font-bold);
        transition: .3s;
    }
    .nav-link:hover{
        color: var(--text-color);
    }
    .nav-toggle{
        color: var(--first-color-darken);
        font-size: 1.3rem;
        cursor: pointer;
    }
/*      Show menu       */
    .show{
        left: 0;
    }
/*      Active menu     */
    .active{
        color: var(--text-color);
    }
/*  Toggle Theme    */
body.dark{
    background-color: var(--dark-theme);
    color: var(--first-color-light);
}
.toggle-theme{
    display: flex;
    margin-top: 1%;
    margin-left: 90%;
}
.checkbox{
    opacity: 0;
    position: absolute;
}
.label{
    position: relative;
    background-color: var(--first-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 50px;
    height: 26px;
    width: 50px;
    padding: 5px;
}
.fa-moon, .fa-sun{
    color: #f1c40f;
}
.ball{
    height: 22px;
    width: 22px;
    position: absolute;
    background-color: #fff;
    top: 2px;
    left: 2px;
    border-radius: 50px;
    transition: transform 0.2s linear;
}
.checkbox:checked + .label .ball{
    transform: translateX(24px);
}
/*      HOME        */
    .home-container{
        height: calc(100vh - var(--header-height));
        align-items: center;
    }
    .home-data{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: max-content;
        text-align: center;
    }
    .home-img{
        /*padding-top: 1.3rem;
        padding-left: .8rem;*/
        width: 160px;
        height: 160px;
        background-color: var(--first-color);
        border-radius: 50%;
        overflow: hidden;
        margin-bottom: var(--mb-2);
    }
    .home-img img{
        width: 155px;
    }
    .home-title{
        font-size: var(--h1-font-size);
        color: var(--first-color);
        font-weight: var(--font-semi-bold);
    }
    .home-profession{
        font-size: var(--small-font-size);
        color: var(--first-color-dark);
        margin-bottom: var(--mb-5);
    }
    .home-social{
        margin-bottom: 5rem;
    }
    .home-social-link{
        display: inline-flex;
        background-color: var(--first-color);
        border-radius: 50%;
        color:var(--first-color-lighten);
        font-size: 1.1rem;
        padding: .40rem;
        margin: 0 var(--mb-1);
        transition: .3s;
    }
    .home-social-link:hover{
        background-color: var(--first-color-dark);
    }
/*      BUTTONS     */
.home-btn{
    width: 100%;
}
.button{
    display: inline-block;
    background-color: var(--first-color);
    color: var(--first-color-lighten);
    padding: 1rem 2rem;
    font-weight: var(--font-semi-bold);
    border-radius: .5rem;
    transition: .3s;
}
.button:hover{
    background-color: var(--first-color-dark);
}
.button-light{
    background-color: var(--first-color-lighten);
    color: var(--first-color);
}
.button-light:hover{
    color: var(--first-color-dark);
}
/*      About       */
.about-container{
    row-gap: 2rem;
}
.about-data{
    text-align: center;
}
.about-description{
    margin-bottom: var(--mb-4);
}
.about-img{
    width: 150px;
    border-radius: .5rem;
    margin: 0 auto;
}
.about-information-title{
    font-size: var(--h3-font-size);
    color: var(--first-color-dark);
    margin-bottom: var(--mb-2);
}
.about-information-data{
    display: flex;
    align-items: center;
    padding-left: 1.5rem;
    margin-bottom: var(--mb-3);
}
.about-information-icon{
    font-size: 1.5rem;
    color: var(--first-color);
    margin-right: var(--mb-4);
}
/*      Skills      */
.skills-container{
    row-gap: 2rem;
}
.skills-subtitle{
    font-size: var(--h3-font-size);
    color: var(--first-color-dark);
    margin-bottom: var(--mb-2);
}
.skills-data{
    position: relative;
    display: flex;
    justify-content: space-between;
    margin: 0 var(--mb-2);
    margin-bottom: var(--mb-4);
}
.skills-name{
    text-transform: uppercase;
}
.skills-number{
    font-size: 25px;
    position: absolute;
    margin-left: 80%;
}
.skills-bar{
    position: absolute;
    bottom: -.75rem;
    height: .25rem;
    background-color: var(--first-color);
}
.skills-html{
    width: 70%;
}
.skills-js{
    width: 50%;
}
.skills-jq{
    width: 50%;
}
.skills-bt{
    width: 60%;
}
.skills-java{
    width: 50%;
}
.skills-php{
    width: 40%;
}
.skills-mysql{
    width: 35%;
}
.skills-cpp{
    width: 60%;
}
/*      EDUCATION       */
.education-container{
    row-gap: 2rem;
}
.education-content{
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
}
.edcuation-year, .education-career{
    font-size: var(--h3-font-size);
}
.education-university, .edecution-title{
    display: block;
    font-size: var(--small-font-size);
    height: 50px;
}
.edcuation-year, .education-university{
    text-align: center;
}
.education-time{
    padding: 0 1rem;
    justify-content: center;
}
.education-rounder{
    position: relative;
    display: inline-block;
    width: 12px;
    height: 12px;
    background-color: var(--first-color);
    border-radius: 50%;
}
.education-rounder::before{
    content: '';
    position: absolute;
    transform: translate(-4px,-4px);
    width: 20px;
    height: 20px;
    border: 1px solid var(--first-color);
    border-radius: 50%;
}
.education-line{
    display: block;
    height: 70%;
    width: 2px;
    background-color: var(--first-color);
    transform: translate(5px,-4px);

}
/*      Works        */
.works-container{
    justify-content: center;
    row-gap: 2rem;
}
.works-img{
    position: relative;
    overflow: hidden;
    border-radius: .6rem;
}
.works-img img{
    width: 100%;
    height: auto;
}
.works-data{
    position: absolute;
    top: -100%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(0, 89, 255, 0.7);
    border-radius: .5rem;
    transition: .3s;
}
.works-link{
    display: inline-flex;
    font-size: 1.5rem;
    background-color: var(--first-color-lighten);
    color: var(--first-color);
    padding: .25rem;
    margin-bottom: var(--mb-2);
    border-radius: 50%;
}
.works-title{
    font-size: var(--h2-font-size);
    color: var(--first-color-lighten);
}
.works-img:hover .works-data{
    top: 0;
}
/*      Contact     */
.contact-container{
    row-gap: 3rem;
}
.contact-input{
    width: 100%;
    padding: 1rem;
    outline: none;
    border: none;
    background-color: var(--first-color-light);
    font-size: var(--normal-font-size);
    margin-bottom: var(--mb-2);
    border-radius: .5rem;
}
.contact-input:hover{
    background-color: var(--first-color);
    color: var(--first-color-lighten);
    transition: .3s;
}
.contact ::placeholder{
    color: var(--first-color-dark);
    font-family: var(--body-font);
    font-weight: var(--font-medium);
}
.contact-button{
    outline: none;
    border: none;
    font-weight: var(--body-font);
    font-size: var(--normal-font-size);
    cursor: pointer;
    width: 100%;
}
.contact-subtitle{
    color: var(--first-color);
}
.contact-text{
    display: block;
    margin-left: 1rem;
}
.contact-img img{
    height: auto;
    width: 100%;
    border: 1px solid var(--first-color);
    border-radius: .6rem;
    margin-top: 1rem;
}
/*  Footer  */
.footer{
    background-color: var(--first-color-darken);
    color: var(--first-color-lighten);
    text-align: center;
}
.footer-title{
    font-size: var(--h1-font-size);
    margin-bottom: var(--mb-2);
}
.footer-description{
    margin-bottom: var(--mb-2);
}
.footer-social{
    margin-bottom: 3rem;
}
.footer-link{
    display: inline-flex;
    background-color: var(--first-color);
    color: var(--first-color-lighten);
    font-size: 1.1rem;
    border: .1rem;
    padding: .40rem;
    margin: 0 var(--mb-1);
    transition: .3s;
}
.footer-link:hover{
    background-color: var(--first-color-lighten);
    color: var(--first-color);
}
.footer-copy{
    font-size: var(--smaller-font-size);
    margin-bottom: var(--mb-3);
    color: var(--first-color-dark);
}
/*  =====================
        Media Queries
    =====================
*/
@media screen and (min-width: 768px){
    .home-btn{
        width: initial;
    }
    .nav{
        height: 35px;
        margin-top: var(--mb-1);
    }
    .nav-menu{
        width: var(--nav-width);
    }
    .about-container,.skills-container, .works-container, .contact-container{
        grid-template-columns: repeat(2,1fr);
    }
    .about-data{
        text-align: initial;
    }
    .about-description{
        margin-bottom: var(--mb-5);
        padding-left: 1rem;
    }
    .about-img{
        width: 220px;
    }
    .about-information{
        padding-left: 4rem;
    }
    .about-information-title{
        text-align: center;
    }
    .skills-subtitle{
        text-align: center;
    }
    .education-container{
        padding: 0 6rem;
    }
    .contact-inputs{
        display: grid;
        column-gap: 1.5rem;
    }
    .footer{
        background: none;
    }
    .footer-container{
        background-color: var(--first-color-darken);
        padding: 3rem;
        border-radius: .6rem .6rem 0  0 ;
    }
    .contact-img img{
        width: 100%;
        height: auto;
    }
}
@media screen and (max-width: 700px){
    .contact-img img{
        width: 100%;
        height: 250px;
    }
    .toggle-theme{
        margin-left: 85%;
    }
}
@media screen and (max-width: 400px){
    .col1{
        height: 100px;
    }
    .col2{
        height: 100px;
    }
    .toggle-theme{
        display: none;
    }
}
@media screen and (min-width: 1024px){
    body{
        margin: 0;
        padding-left: var(--nav-width);
    }
    .l-header{
        width: 0;
    }
    .nav-toggle, .nav-logo, .nav-close{
        display: none;
    }
    .nav-menu{
        left: 0;
    }
    .home-container{
        height: 100vh;
    }
    .section{
        padding: 3rem 0 2rem;
    }
    .bd-grid{
        margin-left: auto;
        margin-right: auto;
    }
    .skills-bar{
        border-radius: .1rem;
    }
    .bxl-css3{
        visibility: hidden;
    }
    .col1, .col2{
        height: 100px;
    }
    .works-title{
        font-size: var(--normal-font-size);
    }
    .works-img img{
        width: 100%;
        height: auto;
    }
    .contact-img img{
        width: 100%;
        height: auto;
    }
}